@model CroquetAustralia.Website.App.admin.home.AddNewsViewModel

<h1>Add News</h1>

<div ng-controller="AddNews as vm">
    @using (Html.BeginForm("AddNews"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(m => m.Title, new {placeholder = "Title", @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="form-group">
            <textarea class="form-control" cols="20" data-val="true" data-val-required="Content is required." id="Content" markdownedit name="Content" ng-model="vm.content" placeholder="Content" rows="20">@Model.Content</textarea>
            @Html.ValidationMessageFor(m => m.Content)
        </div>
        <div class="form-group">
            <label>Preview</label>
            <markdown bind-from="vm.content" class="md-preview"></markdown>
        </div>
        <div class="form-group">
            <input name="SubmitButton" value="Publish" type="submit" class="btn btn-primary">
        </div>
    }
</div>
