@model CroquetAustraliaWebsite.Application.App.admin.home.AddPageViewModel

<h1>New Page in @Model.Directory.Replace("\\", "/")/</h1>

<div ng-controller="AddPage as vm">
    @using (Html.BeginForm("AddPage"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Directory)
        <div class="form-group">
            @Html.TextBoxFor(m => m.PageName, new { placeholder = "File name", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PageName)
        </div>
        <div class="form-group">
            <textarea class="form-control" cols="20" data-val="true" data-val-required="Content is required." id="Content" markdownedit name="Content" ng-model="vm.content" placeholder="Content" rows="20">@Model.Content</textarea>
            @Html.ValidationMessageFor(m => m.Content)
        </div>
        <div class="form-group">
            <markdown bind-from="vm.content"></markdown>
        </div>
        <div class="form-group">
            <input name="SubmitButton" value="Publish" type="submit" class="btn btn-primary">
        </div>
    }
</div>

<div ng-controller="FileUpload as vm">
    <button class="btn btn-default" ngf-select ng-model="vm.files" ngf-multiple="true">
        Upload Files
    </button>
    <pre>{{vm.log}}</pre>
</div>